@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Geist';
	src: url('/fonts/Geist-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'GeistMono';
	src: url('/fonts/GeistMono-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

body {
	font-family: 'GeistMono', sans-serif;
	color: #333;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.5rem;
}

/* Style for paragraph tags */
p {
	font-size: 1rem;
}
